*{ margin: 0; padding: 0; }

body{ font-family: "arial"; }

a{ text-decoration: none; }

table
{
	font-family: arial;
	font-size: 14px;
	width:100%;
	border-collapse: collapse;
}

table th
{
	padding:10px;
	border:1px solid #E9E9E9;
}

table tbody tr:nth-child(odd){
	text-align:left;
}

table td
{
	padding: 10px;
	border:1px solid #E9E9E9;
}

#main
{
    max-width: 820px;
    margin: 0 auto;
    padding:0 10px 0 10px;
}

#menu
{
	margin-left: 33%;
}

#clientes
{
	width:100%;
	clear: both;
	float:left;
	margin-top: 20px;
}

.menu_acoes
{
	float:right;

}

table td .acao
{
	margin: -4px 3px 0 0;
	padding: 4px 4px 1px 4px;
	font-size: 10px;
	border-radius: 3px;
	transition: all 0.3s ease-in-out 0.1s;
}

table td .acao:hover
{
    color: white;
    background-color: #666666;
    cursor: pointer;
}

.botao
{
    padding: 15px;
    text-align: center;
    border-radius: 6px;
    transition: all 0.3s ease-in-out 0.1s;
}

.botao:hover
{
    color: white;
    background-color: #666666;
    border-radius: 6px 6px 6px;
    cursor: pointer;
}

.link
{
    float: left;
    margin: 30px 0 0 10px;
    font-size:16px;
}

.positive
{
    color: white;
    background-color: #448bb0;
    border-bottom: 5px solid #448bb0;
}

.negative
{
    color: white;
    background-color: #B04454;
    border-bottom: 5px solid #B04454;
}

.item
{
	color:#999999;
	margin-right:200px;
}